DATABASE_URL="postgresql://user:password@localhost:5432/cr_miniapp"
BOT_TOKEN="YOUR_TELEGRAM_BOT_TOKEN"
WEBAPP_URL="https://your-domain.com" # url фронта miniapp
BOT_SECRET="random_long_secret"       # для проверки initData
