DATABASE_URL="postgresql://user:password@localhost:5432/cr_miniapp"
BOT_TOKEN="8301987837:AAG0EjzssJjODmJylUTWobCzS9oPDVGYuws"
WEBAPP_URL="https://vezzint.github.io/cr-miniapp/ # url фронта miniapp
BOT_SECRET="random_long_secret"       # для проверки initData
